---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import Button from "../componentes/Button.astro";

const { employee } = Astro.props;
const { img, name, title, description } = employee;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/images/*.{jpeg,jpg,png,gif}"
);
if (!images[img])
  throw new Error(
    `"${img}" does not exist in glob: "src/assets/images/*.{jpeg,jpg,png,gif}"`
  );
---

<article>
  <div class="image-container">
    <Image src={images[img]()} alt={name} />
    <h3>{title}</h3>
  </div>
  <h2>{name}</h2>
  <p>{description}</p>

  <div class="svg">
    <svg
      width="25"
      height="24"
      viewBox="0 0 25 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g id="Instagram">
        <path
          id="Icon"
          d="M17.5198 2.19245C18.8451 2.19626 20.115 2.70456 21.0521 3.60634C21.9893 4.50812 22.5175 5.7301 22.5214 7.0054V16.6303C22.5175 17.9056 21.9893 19.1276 21.0521 20.0293C20.115 20.9311 18.8451 21.4394 17.5198 21.4432H7.5176C6.1923 21.4394 4.92241 20.9311 3.98528 20.0293C3.04814 19.1276 2.51992 17.9056 2.51596 16.6303V7.0054C2.51992 5.7301 3.04814 4.50812 3.98528 3.60634C4.92241 2.70456 6.1923 2.19626 7.5176 2.19245H17.5198ZM17.5198 0.267578H7.5176C3.66643 0.267578 0.515625 3.29952 0.515625 7.0054V16.6303C0.515625 20.3362 3.66643 23.3681 7.5176 23.3681H17.5198C21.371 23.3681 24.5218 20.3362 24.5218 16.6303V7.0054C24.5218 3.29952 21.371 0.267578 17.5198 0.267578Z"
          fill="#181818"></path>
        <path
          id="Icon_2"
          d="M19.0196 7.00597C18.7229 7.00597 18.4328 6.9213 18.1861 6.76265C17.9393 6.60401 17.747 6.37852 17.6335 6.1147C17.5199 5.85089 17.4902 5.56059 17.5481 5.28052C17.606 5.00046 17.7489 4.7432 17.9587 4.54128C18.1685 4.33937 18.4359 4.20186 18.7269 4.14615C19.018 4.09044 19.3196 4.11903 19.5938 4.22831C19.868 4.33759 20.1023 4.52264 20.2672 4.76007C20.432 4.9975 20.52 5.27664 20.52 5.56219C20.5204 5.75191 20.4819 5.93983 20.4067 6.11519C20.3314 6.29054 20.2209 6.44986 20.0815 6.58401C19.9421 6.71816 19.7765 6.82449 19.5943 6.8969C19.4121 6.96932 19.2168 7.00638 19.0196 7.00597ZM12.5181 7.96815C13.3095 7.96815 14.0831 8.19397 14.7411 8.61704C15.3991 9.04011 15.9119 9.64144 16.2148 10.345C16.5176 11.0485 16.5969 11.8227 16.4425 12.5696C16.2881 13.3164 15.907 14.0025 15.3474 14.541C14.7878 15.0794 14.0749 15.4461 13.2987 15.5947C12.5226 15.7433 11.7181 15.667 10.9869 15.3756C10.2558 15.0842 9.63092 14.5907 9.19126 13.9575C8.7516 13.3243 8.51694 12.5799 8.51694 11.8184C8.51807 10.7976 8.93999 9.8189 9.69012 9.09707C10.4402 8.37525 11.4573 7.96925 12.5181 7.96815ZM12.5181 6.04328C11.3312 6.04328 10.1708 6.38199 9.18387 7.01657C8.19692 7.65115 7.42769 8.5531 6.97344 9.60837C6.5192 10.6636 6.40035 11.8248 6.63192 12.9451C6.86349 14.0654 7.43508 15.0944 8.27441 15.902C9.11374 16.7097 10.1831 17.2597 11.3473 17.4826C12.5115 17.7054 13.7182 17.591 14.8148 17.1539C15.9115 16.7168 16.8488 15.9766 17.5082 15.0269C18.1677 14.0772 18.5197 12.9606 18.5197 11.8184C18.5197 10.2868 17.8874 8.81783 16.7619 7.73478C15.6364 6.65173 14.1098 6.04328 12.5181 6.04328Z"
          fill="#181818"></path>
      </g>
    </svg>

    <svg
      width="26"
      height="24"
      viewBox="0 0 26 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g id="Facebook">
        <path
          id="Icon"
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M25.3277 11.8875C25.3277 5.47196 19.774 0.27002 12.9246 0.27002C6.07521 0.27002 0.521484 5.47196 0.521484 11.8875C0.521484 17.6859 5.05638 22.4921 10.9866 23.3645V15.2467H7.83656V11.8875H10.9866V9.32804C10.9866 6.41692 12.8388 4.80759 15.6716 4.80759C17.0287 4.80759 18.4484 5.03475 18.4484 5.03475V7.894H16.8836C15.3438 7.894 14.862 8.78917 14.862 9.70924V11.8875H18.3017L17.7524 15.2467H14.8626V23.3655C20.7928 22.4937 25.3277 17.6874 25.3277 11.8875Z"
          fill="#181818"></path>
      </g>
    </svg>

    <svg
      width="24"
      height="20"
      viewBox="0 0 24 20"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g id="Twitter">
        <path
          id="Icon"
          d="M23.4854 2.75508C22.6167 3.13225 21.6976 3.38073 20.7572 3.49269C21.7455 2.91435 22.4888 1.99556 22.8476 0.908642C21.9131 1.45466 20.8925 1.83778 19.8294 2.04157C19.3818 1.57275 18.8434 1.19978 18.247 0.945351C17.6506 0.69092 17.0086 0.560334 16.3602 0.561532C13.7347 0.561532 11.61 2.65384 11.61 5.23306C11.6082 5.59182 11.6493 5.94951 11.7326 6.2985C9.84994 6.2103 8.00645 5.73038 6.32005 4.88945C4.63365 4.04851 3.14148 2.86507 1.939 1.41484C1.51714 2.12551 1.29404 2.93637 1.29301 3.76266C1.29301 5.38251 2.13873 6.81434 3.41576 7.65319C2.65916 7.63525 1.91806 7.43514 1.25538 7.06985V7.1277C1.25538 9.39356 2.89568 11.2786 5.06668 11.7076C4.65842 11.8164 4.23773 11.8715 3.81522 11.8715C3.51542 11.8721 3.2163 11.843 2.92222 11.7848C3.52575 13.6408 5.28233 14.9907 7.3631 15.0293C5.67232 16.3314 3.59649 17.0352 1.46186 17.03C1.08296 17.0294 0.704414 17.0069 0.328125 16.9625C2.49969 18.3482 5.02395 19.0811 7.60046 19.0741C16.35 19.0741 21.1301 11.9535 21.1301 5.77783C21.1301 5.57535 21.1248 5.37287 21.1151 5.17521C22.0429 4.51573 22.8456 3.69619 23.4854 2.75508Z"
          fill="#181818"></path>
      </g>
    </svg>
  </div>
</article>

<style>
  @layer components {
    article {
      color: var(--primary03);
      background: var(--secondary02);
    }
  }

  .image-container {
    position: relative;
    display: inline-block;
  }

  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    font-size: var(--heading05);
    color: var(--primary03);
  }

  h3 {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    background: var(--primary03);
    padding: 4px 21px;
    z-index: 1;
    border-radius: 20px;
    color: white;
    cursor: pointer;
  }

  img {
    border-radius: 20px;
  }

  .svg {
    display: flex;
    align-items: center;
    gap: 29px;
    justify-content: center;
    padding-top: 27px;
    padding-bottom: 40px;
  }

  svg {
    width: 24.806px;
    height: 23.095px;
  }
</style>
